.example-card {
  height: 13rem;
  width: 38rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;

  mat-card-title {
    min-height: 3.5rem;
  }

  div img {
    width: 10rem;
  }

  .rightPart {
    margin-left: 2rem;
    width: 100%;
  }
}
